.container{
  padding: 0 40px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.person{
  color: #696969;
}
.person span{
  color: #292929;
}
h1{
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}
